header{
    background-color:  #3374ff ;
    
}
a{
    color: #fff
}
h1{
     background-color:  #c5fdea
     /*#7fffd4; */
}
.about{
    background-color: #ffe4c4;
}
.toolbox{
    background-color:  #fddbc5
    ;
}